/*--------------------------------------/
 Margins & Paddings Gap
--------------------------------------*/
$gaps: (
    0: 0,
    1: 0.5rem,
    2: 1rem,
    3: 2rem,
    4: 3rem,
    5: 5rem,
    auto: auto
);

@mixin gap-constructor($breakpoints: $grid-breakpoints){
    @each $breakpoint in map-keys($breakpoints){
        $infix: breakpoint-infix($breakpoint, $breakpoints);
        @include media-breakpoint($breakpoint, $breakpoints){
            @each $gap in $gaps{
                $key: nth($gap, 1);
                $value: nth($gap, 2);

                .m#{$infix}-#{$key}{
                    margin: $value !important;
                }

                .p#{$infix}-#{$key}{
                    padding: $value !important;
                }

                .my#{$infix}-#{$key}{
                    margin-top: $value !important;
                    margin-bottom: $value !important;
                }

                .py#{$infix}-#{$key}{
                    padding-top: $value !important;
                    padding-bottom: $value !important;
                }

                .mx#{$infix}-#{$key}{
                    margin-left: $value !important;
                    margin-right: $value !important;
                }

                .px#{$infix}-#{$key}{
                    padding-left: $value !important;
                    padding-right: $value !important;
                }

                .mt#{$infix}-#{$key}{
                    margin-top: $value !important;
                }

                .mb#{$infix}-#{$key}{
                    margin-bottom: $value !important;
                }

                .ml#{$infix}-#{$key}{
                    margin-left: $value !important;
                }

                .mr#{$infix}-#{$key}{
                    margin-right: $value !important;
                }

                .pt#{$infix}-#{$key}{
                    padding-top: $value !important;
                }

                .pb#{$infix}-#{$key}{
                    padding-bottom: $value !important;
                }

                .pl#{$infix}-#{$key}{
                    padding-left: $value !important;
                }

                .pr#{$infix}-#{$key}{
                    padding-right: $value !important;
                }
            }
        }
    }
}

@include gap-constructor($grid-breakpoints);