/*--------------------------------------/
 Settings
--------------------------------------*/



//---------------------------------------//
//------------- FORM LABEL --------------//
//---------------------------------------//

.form-label {
    color: $primary-color;
    font-size: $base-font-size;
    font-weight: bold;
    line-height: 1.4;
}
